.container {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

ul {
  height: 100%;
  overflow-y: scroll;
  list-style: none;
}

form {
  display: flex;
  gap: 15px;
  /* justify-content: space-between; */
}

input {
  width: 100%;
}
