<div *ngIf="receiverUser" class="container">
  <button (click)="endChat()">ukoncit chat s {{receiverUser.firstName}} {{receiverUser.lastName}}</button>
  <ul>
    <li *ngFor="let message of receiverUser.chatHistory">
      {{ message.timestamp }} {{ message.senderId }}: {{ message.text }}
    </li>
  </ul>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <input type="text" placeholder="napis spravu" formControlName="text" />
    <button [disabled]="!form.valid">odoslat</button>
  </form>
</div>

<div *ngIf="!receiverUser" class="container">
  <h2>Vyberte si uzivatela</h2>
</div>
